<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar purple-gradient">
    <div class="container">
        <a class="navbar-brand" href="/">
            <strong>Zoo Pitch</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/New-Pitch">New Pitch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Profile</a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="md-form my-0">
                    <button class="btn rounded-pill my-2 my-sm-0 sunny-morning-gradient" >Login</button>
                </div>
            </form>
        </div>
    </div>
</nav>
<br>
<br>
<br>
