<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar purple-gradient">
    <div class="container">
        <a class="navbar-brand" href="/">
            <strong>Zoo Pitch</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.new_pitch')}}">New Pitch</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style= 'margin-right:30px' data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>&nbsp;<strong>{{current_user.username}}</strong> </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="{{url_for('main.profile',name=current_user.username)}}"><i class="far fa-user"></i>&nbsp; My account</a>
                            <a class="dropdown-item" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item ">
                        <div class="container">
                            <a  class="nav-link btn rounded-pill sunny-morning-gradient" href="{{url_for('auth.login')}}" style='padding-right:30px'><i class="fas fa-sign-in-alt"></i>&nbsp; <strong class="text-center">Log In</strong></a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="container">
                            <a style= 'padding-right:30px' class="nav-link btn rounded-pill my-4 my-sm-0 deep-blue-gradient" href="{{url_for('auth.signup')}}"><i class="fas fa-user-plus"></i></i>&nbsp; <strong class="text-center">Sign Up</strong></a>
                        </div>
                    </li>
                {%endif%}

            </ul>

        </div>
    </div>
</nav>
<br>
<br>
<br>
